.home-recent-posts {
  .card {
    width: 100%;

    img {
      max-width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }

  article.post {
    .categories-container {
      flex: 1 1;
      padding: 1.25rem;
      visibility: visible;
      opacity: 1;
      display: block;
    }

    img {
      padding: 0 20px;
      transition: all 0.5s linear;
    }

    .categories-secondary-container {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }

    .entry-title a {
      color: black;
    }

    .categories {
      color: #7e818f;
    }

    .post-meta {
      opacity: 1;
    }

    @media screen and (min-width: 768px) {
      .categories-container {
        flex: 0;
        padding: 0 1.25rem;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s linear;
      }

      img {
        padding: 0;
        transition: all 0.5s linear;
      }

      .categories-secondary-container {
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: all 0.5s linear;
      }

      .post-meta {
        transition: all 0.5s linear;
        opacity: 0;
      }
    }

    &:hover {
      .categories-container {
        flex: auto;
        padding: 1.25rem;
        visibility: visible;
        opacity: 1;
        display: flex;
        align-items: center;
      }

      img {
        padding: 0 20px;
        transition: all 0.5s linear;
      }

      .categories-secondary-container {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
      }

      .post-meta {
        opacity: 1;
      }
    }
  }
}
