.footer {
  background: #fff;
  min-height: 300px;

  .site-icon {
    width: 100%;

    @media screen and (min-width: 760px) {
      max-width: 250px;
    }
  }

  .footer-sidebar {
    h2 {
      font-weight: bold;
    }

    .widget_block {
      width: 100%;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          &::after {
            content: "\2192";
            margin-left: 0;
            opacity: 0;
            transition: all 250ms linear;
          }

          &:hover {
            &::after {
              content: "\2192";
              margin-left: 10px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .footer-social-links {
    li.social-link-item {
      list-style-type: none;
      text-align: center;

      a.d-block {
        font-size: 18px;
        padding: 5px 10px;
      }
    }
  }
}
