.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  &:hover {
    border-bottom: 1px solid #150873;
  }
}

header.banner {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 8;

  .navbar {
    min-height: 80px;
  }

  .action {
    background-color: #5333ed;
    color: #fff;
  }

  .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .navbar-toggle {
    margin: 0 0 0 auto;
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 28px;
    color: #150873;

    .toggle-wrap {
      padding: 10px;
      position: relative;
      cursor: pointer;
      float: left;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .toggle-bar {
      width: 38px;
      margin: 10px 0;
      position: relative;
      display: block;
      border-top: 4px solid transparent;
      top: 12px;
      transition: all 0.2s ease-in-out;

      &::before,
      &::after {
        content: "";
        display: block;
        background: #150873;
        height: 4px;
        width: 38px;
        position: absolute;
        top: -16px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
      }

      &::after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &.collapsed {
      .toggle-bar {
        border-top: 4px solid #150873;

        &::before,
        &::after {
          top: -26px;
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -ms-transform-origin: 13%;
          -webkit-transform-origin: 13%;
          transform-origin: 13%;
        }

        &::after {
          top: -15px;
        }
      }
    }
  }

  @media screen and (min-width: 760px) {
    .navbar-header {
      width: auto;
    }

    .navbar-toggle {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    width: 0;
    height: 100%;
    position: fixed;
    top: 80px;
    right: -5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    transition: width 400ms linear;

    li {
      padding: 15px 0;
    }
  }

  .navbar-collapse.show {
    width: 100%;
    right: 0;
    z-index: 99;
  }
}
